<p id="notice"><%= notice %></p>

<p>
  <strong>Ux:</strong>
  <%= @gallery.ux %>
</p>

<p>
  <strong>Graphics:</strong>
  <%= @gallery.graphics %>
</p>

<p>
  <strong>Animation:</strong>
  <%= @gallery.animation %>
</p>

<p>
  <strong>Programming:</strong>
  <%= @gallery.programming %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @gallery.blog %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
